.d-flex {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
    background: #ffffff;

}
header h1 {
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    font-family: Manrope, serif;
    font-style: normal;
    line-height: 87px;
}

.faqs {
    width: 100%;
    max-width: 1360px;
}

.faq-title {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer;
}


.faqId {
    margin-right: 20px;
    height: 50px;
    width: 50px;
    color: #ffffff;
    background: rgb(1,186,138);
    background: linear-gradient(9deg, rgba(1,186,138,1) 5%, rgba(0,169,167,1) 48%, rgba(1,170,166,1) 91%);
    font-family: Manrope, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0;
    text-align: center;

}
.faq-title-text {
    position: relative;
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 15px;
}
.faq-title .status {
    height: 3px;
    width: 200px;
    background-color: #00A9A7;
    margin-top: 15px;
    margin-bottom: -16px;
    margin-left: -15px;
    transition: 0.4s;
}
.open .faq-title .status {
    height: 3px;
    width: 300px;
    background-color: #00A9A7;
    transition: 0.4s;
}

.faq-steps {
    opacity: 0;
    width: 100%;
    max-width: 1330px;
    max-height: 0;
    margin-left: 15px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.4s;

}
.open .faq-steps {
    max-height: 200px;
    opacity: 1;
    transition: 0.4s;
}

.step i {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-left: 10px;
    color: #00A9A7;
    font-size: 25px;
}
.step {
    display: flex;
    margin: 10px 0 5px 12px;
}
.step-no-display {
    display: none;
}
.step-text {
    font-family: Roboto, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;

}

.step-text-email {
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #00A9A7;
    margin-left: 7px;
    margin-top: -3px;
}
















